/******************/
/**** general *****/
/******************/




a.active {
	color: #00de61 !important;
}

.icon-small {
	height: 15px;
	width: auto;
}

.icon-med {
	height: 35px;
	width: auto;
}

.button {
	float: left;
	background: #00de61;
    border-radius: 2px;
    font-weight: 500;
    border: 0;
    color: #fff;
    line-height: 50px;
    height: 60px;
    /*width: 100%;*/
    padding: 0 40px;
    max-width: 360px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    transition: background 100ms linear;
}

.button:hover {
	background: #00bf4d;

}

/******************/
/****** nav *******/
/******************/

.nav {
	padding: 20px 15px !important;
}

.logo {
	text-decoration: none;
	color: #00DE61;
	font-weight: bold;
	font-size: 3em;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #00DE61;
}

.logo img {
	margin-right: 10px;
}

.nav .links {
	margin-top: 20px;
	float: right;
	display: table-cell;
}

.nav .links a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-left: 26px;
}



/******************/
/**** content *****/
/******************/

.hero {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	color: black;
}

.hero:hover {
	color: black;
}

#home .hero {
	background-image: url(images/hero2@2x.jpg);
}

#article .hero {
	background-image: url(images/hero@2x.jpg);
}

.hero .hero-box {
	/*width: 914px;
	margin: 0 auto;*/
	margin-top: 83px;
	margin-bottom: 83px;
	background: rgba(255,255,255,0.9);
	padding: 0;
/*	border-top: 5px solid #00de61;*/
	position: relative;
	overflow: hidden;
}

/*.hero .hero-box .green-box1 {
	height: 0;
	transition: height .2s;
}*/

.hero .hero-box .green-box2 {
	width: 100%;
	transition: height .4s cubic-bezier(0, 0, 0, 0.99);
}

/*.hero:hover .hero-box .green-box1 {
	height: 100%;
	transition: height .2s .3s;
}
*/
.hero:hover .hero-box .green-box2 {
	height: 100%;
	transition: height .3s;
}


.hero .hero-box .hero-content {
	padding: 14px 28px;
}


.hero .hero-box .feature-text {
	position: relative;
	font-size: 1em;
	display: inline-block;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-bottom: .5rem;
	border-bottom: 2px solid #00de61;
	font-weight: bold;
	margin: 0;
}

.hero .hero-box .hero-title {
	position: relative;
	color: black;
	font-size: 50px;
	font-weight: bold;
	margin: 10px 0;
}

.hero .hero-box .hero-subtitle {
	color: #B8B8B8;
	font-weight: medium;
	font-size: 20px;
}

.sub-nav {
	width: 100%;
	padding: 2px 7px;
	margin: 40px 0 30px;
	font-weight: bold;
}

.sub-nav .links {
	vertical-align: middle;
	float: right;
}

.sub-nav .links a {
	text-decoration: none;
	color: black;
	margin-left: 25px;
}

.post {
	width: 556px;
	height: 278px;
	float: left;
	margin: 7px;
	color: black;
	overflow: hidden;
	position: relative;
/*	background-color: rgba(0,0,0,0);
	transition: background-color .3s;*/

}

.post:focus, .post:hover {
	color: black;
	text-decoration: none;
}



/*
.post:hover {
	background-color: rgba(0,0,0,.3);
}
*/
.post #art1 {
	background-image: url(images/hero@2x.jpg);
}

.post #art2 {
	background-image: url(images/inspiration-gift@2x.jpg);
}

.post #art3 {
	background-image: url(images/inspiration-return@2x.jpg);
}

.post #art4 {
	background-image: url(images/inspiration-sell@2x.jpg);
}

.post .post-image {
	width: 100%;
	height: 100%;
	z-index: -100;
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.post .post-box {
	margin-top: 14px;
	margin-left: 14px;
	background: rgba(255,255,255,0.9);
	/*border-left: 5px solid #00de61;*/
	width: 80%;
	height: 72px;
	position: relative;


/*	margin: 0 auto;
	padding: 110px 100px;
	text-align: center;
	opacity: 0;
	transition: opacity .3s;*/
}

/*.post .post-box:hover {
	opacity: 1;
}*/

.post:hover .post-box {

}

.green-box {
	position: absolute;
	background: #00de61;
}

.green-box1 {
	width: 5px;
}
.green-box2 {
	height: 5px;
}

.post .post-box .green-box1 {
	height: 100%;
	transition: height .2s .3s;
}

.post .post-box .green-box2 {
	width: 0;
	transition: width .3s;
}

.post:hover .post-box .green-box1 {
	height: 0;

	transition: height .2s;
}

.post:hover .post-box .green-box2 {
	width: 100%;
	transition: width .3s .2s;
}

.post .post-box h3 {
	position: absolute;
	padding: 9px 7px 10px 12px;
	margin: 0;
	font-weight: bold;
/*	color: white;*/
}

.article-body {
	margin-top: 80px;
	font-size: 16px;
	padding-bottom: 40px;
}

.dropcap {
	font-size: 61px;
	color: #00de61;
	font-weight: bold;
	float: left;
	margin: -16px 8px -16px 0;
}

.article-body .beginning {
	font-size: 20px;
}

.article-body p {
	padding-bottom: 10px;
}

.article-body p:not(.beginning) {
	line-height: 26px;
}

.footer {
	padding: 40px 0;
	margin-top: 100px;
	background: black;
	width: 100%;
}

.footer .logo {
	display: block;
	width: 190px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.footer .logo img {
	height: 38px;

}

.input-and-button .input {
	height: 60px;
	border-radius: 2px;
	float: left;
	font-size: 1.3em;
	padding-left: 20px;
	border: none;
	margin-right: 4px;
	width: 68%;
}

.input-and-button .button {
	width: 30%;
	padding: 0;
}

.social {
	display: block;
	text-align: center;
	margin-top: 150px;
}

.social * {
	margin: 0 4px;
}

