/******************/
/**** general *****/
/******************/


a.active {
	color: #00de61 !important;
}

.small-icon {
	height: 15px;
	width: auto;
}

/******************/
/****** nav *******/
/******************/

.nav {
	padding: 20px 0;
}

.nav .logo {
	text-decoration: none;
	color: #00DE61;
	font-weight: bold;
	font-size: 3em;
}

.nav .logo img {
	margin-right: 20px;
}

.nav .links {
	margin-top: 20px;
	float: right;
}

.nav .links a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-left: 26px;
}



/******************/
/**** content *****/
/******************/

.hero {
	width: 100%;
	height: 404px;
	background: #D8D8D8;
	padding: 83px 0;
	text-align: center;
}

.hero .hero-box {
	width: 914px;
	background: rgba(255,255,255,0.9);
	margin: 0 auto;
	padding: 28px;
	border-top: 5px solid #00de61;
}

.hero .feature-text {
	font-size: 1em;
	display: inline-block;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-bottom: .5rem;
	border-bottom: 2px solid #00de61;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
}

.hero .hero-title {
	color: black;
	font-size: 54px;
	font-weight: bold;
	margin: 0;
}

.sub-nav {
	width: 100%;
	padding: 2px 0;
	margin: 24px 0 34px;
	font-weight: bold;
}

.sub-nav .links {
	vertical-align: middle;
	float: right;
}

.sub-nav .links a {
	text-decoration: none;
	color: black;
	margin-left: 25px;
}

.post {
	width: 556px;
	height: 278px;
	float: left;
	background-color: #D8D8D8;
	margin: 7px;
}

.post .post-box {
	margin-top: 14px;
	margin-left: 14px;
	background: rgba(255,255,255,0.9);
	border-left: 5px solid #00de61;
	width: 80%;
	padding: 4px 7px 10px;
}

.post .post-box h3 {
	margin: 0;
}

