body {
  font-family: helvetica; }

#piano .inner {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  transition: opacity .1s;
  opacity: .4; }

#piano .whiteKey .inner {
  color: black; }

#piano .blackKey .inner {
  color: white; }

#piano .keys:hover .inner {
  opacity: 0; }
