.button {
	&.round {
		border-radius: 100px;
	}
	&.fixed {
		width: 200px;
	}
	&.middle {
		margin: 0 auto;
		display: block;
	}
}

#piano {
	display: block;
	margin: 0 auto;
	* {
		box-sizing: content-box;
	}
	.keys {
		.inner {
			position:absolute;
			bottom:5px;
			left:0;
			width:100%;
			text-align:center;
			font-weight: bold;
			transition: opacity .1s;
			opacity: .5;
		}
		.whiteKey, .blackKey {
			border-style: solid;
			border-width: 1px;
			display: inline-block;
			margin: 0px;
			padding: 0px;
			position: absolute;
			top: 0px;

		}
		.whiteKey {
			vertical-align: top;
			width: 41px;
			height: 149px;
			background: white;

			.inner {
				color: black;
			}
		}
		.blackKey {
			width: 23px;
			height: 99px;
			background: black;

			.inner {
				color: white;
			}
		}

		.playing {
			background: $medium-gray;
		}

		.referenceNote {
			background: $dark-gray;
		}

		&:hover {
			.inner {
				opacity: 0;
			}
		}
	}
}

.player-container {
	background: white;
	border-radius: 71px;
	overflow: hidden;


	.player-content {
		padding: 38px 62px 28px;
	}

	.player-prompt {
		text-align: center;
	}

	.orb-container {
		height: 200px;
		margin: 30px;
		.orb {
			$max-diameter: 200px;
			$outer-diameter: $max-diameter - 50;
			margin: 0 auto;
			height: $max-diameter;
			width: 0px;
			position: relative;
			text-align: center;
			line-height: $max-diameter;
			@include transition(all .3s);

			.playbutton {
				position: absolute;
				z-index: 100;
				line-height: 200px;
				margin-left: -9px;
				opacity: 0;
				@include transition(all .3s);
			}

			* {
				border-radius: 1000px;
			}

			.orb-outer {
				position: absolute;
				top: 50%;
				left: -50%;
				@include orb-diameter($outer-diameter);
				@include transition(all .3s .1s);
				background: lighten($primary-color, 25%);

				.orb-inner {
					$scale: .6;
					position: absolute;
					top: 50%;
					left: 50%;
					background: $primary-color;
					@include orb-diameter($outer-diameter * $scale);
					@include transition(all .3s);
				}
			}

			&.error {
				$outer-diameter-error: 80px;
				.orb-outer {
					background: lighten($alert-color, 25%);
					@include orb-diameter($outer-diameter-error);

				}
				.orb-inner {
					background: $alert-color;
					@include orb-diameter($outer-diameter-error - 10);
				}
			}

			&.success {
				$outer-diameter-success: $max-diameter;
				.orb-outer {
					background: lighten($success-color, 25%);
					@include orb-diameter($outer-diameter-success);

				}
				.orb-inner {
					background: $success-color;
					@include orb-diameter($outer-diameter-success - 20);
				}
			}

			&:hover {
				.playbutton {
					opacity: 1;
					font-size: 3em;
					margin-left: -14px;
					@include transition(all .3s .2s);
				}
				.orb-outer {
					@include orb-diameter($outer-diameter * 1.2);
					animation-duration: 4000ms;
				}
				.orb-inner {
					@include orb-diameter($outer-diameter - 15);
					animation-duration: 3000ms;
				}
			}
		}
	}

	.player-footer {
		background: $medium-gray;
		padding: 38px;

		.button {
			margin-bottom: 0;
		}
	}
}
