#piano {
	display: block;
	margin: 0 auto;
	* {
		box-sizing: content-box;
	}
	.keys {

		.inner {
			position:absolute;
			bottom:5px;
			left:0;
			width:100%;
			text-align:center;
			font-weight: bold;
			transition: opacity .1s;
			opacity: .5;
		}

		.whiteKey .inner {
			color: black;
		}
		.blackKey .inner {
			color: white;
		}

		&:hover {
			.inner {
				opacity: 0;
			}
		}
	}
}

.player-container {
	background: white;
	border-radius: 71px;
	overflow: hidden;


	.player-content {
		padding: 38px 62px 28px;
	}

	.player-prompt {
		text-align: center;
	}

	.orb-container {
		height: 200px;
		margin: 30px;
		.orb {
			$max-diameter: 200px;
			margin: 0 auto;
			height: $max-diameter;
			width: 1px;
			position: relative;

			* {
				border-radius: 1000px;
			}

			.orb-outer {
				$outer-diameter: $max-diameter - 50;
				position: absolute;
				top: 50%;
				left: -50%;
				@include orb-diameter($outer-diameter);
				@include transition(all .3s);
				background: lighten($primary-color, 25%);

				&:hover {
					@include orb-diameter($outer-diameter * 1.2);

					.orb-inner {
						@include orb-diameter($outer-diameter - 20);
						animation-duration: 200ms;
					}
				}

				.orb-inner {
					$scale: .6;
					position: absolute;
					top: 50%;
					left: 50%;
					background: $primary-color;
					@include orb-diameter($outer-diameter * $scale);
					@include transition(all .3s);
				}
			}
		}
	}

	.player-footer {
		background: $medium-gray;
		padding: 38px;

		.button {
			margin: 0;
		}
	}
}
