#piano {
	display: block;
	margin: 0 auto;
	* {
		box-sizing: content-box;
	}
	.keys {

		.inner {
			position:absolute;
			bottom:5px;
			left:0;
			width:100%;
			text-align:center;
			font-weight: bold;
			transition: opacity .1s;
			opacity: .5;
		}

		.whiteKey .inner {
			color: black;
		}
		.blackKey .inner {
			color: white;
		}

		&:hover {
			.inner {
				opacity: 0;
			}
		}
	}
}

.player-container {
	background: white;
	border-radius: 71px;
	overflow: hidden;


	.player-content {
		padding: 38px 62px 28px;
	}

	.player-prompt {
		text-align: center;
	}

	.orb-container {
		height: 200px;
		margin: 30px;
		.orb {
			* {
				border-radius: 1000px;
			}
			.orb-outer {
				$outer-diameter: 200px;
				position: relative;
				margin: 0 auto;
				height: $outer-diameter;
				width: $outer-diameter;
				background: lighten($primary-color, 25%);

				.orb-inner {
					$scale: .6;
					$inner-diameter: $outer-diameter * $scale;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					// margin: 0 auto;
					height: $inner-diameter;
					width: $inner-diameter;
					// padding: 20px;

					position: absolute;
					top: 50%;
					left: 50%;

					margin: (-$inner-diameter / 2) 0 0 (-$inner-diameter / 2);

					background: $primary-color;
				}
			}
		}
	}

	.player-footer {
		background: $medium-gray;
		padding: 38px;

		.button {
			margin: 0;
		}
	}
}
