body {
	font-family: helvetica;
	background: $light-gray;
}

.top-bar {
	$topbar-bg-color: $primary-color;
	$topbar-bg: $topbar-bg-color;
	background: $topbar-bg;
}

.site-content {
	margin-top: 40px;
}
