.numberlineWrapper {
	display: block;
	margin-left: 50px;

	.number {
		display: inline-block;
		height: 100px;
		line-height: 100px;
		float: left;
		text-align: center;

		* {
			line-height: inherit;
		}
	}

	.numberline {
		display: inline-block;
	}
}

.name {
	float:right;
	color:#27aae1;
}
.axis {
	fill: none;
	stroke: #AAA;
	stroke-width: 1px;
}
text {
	fill: #333;
	font-size: .8em;
	font-family:"Helvetica Neue";
	font-weight: 600;
}
.label {
	fill: #414241;
}
.node {
	cursor:pointer;
	position: relative;
	.dot {
		opacity: .8;
		cursor: pointer;
	}

	&.node-error {
		z-index: 0;
		.dot {
			fill: $alert-color;
		}
	}

	&.node-correct {
		z-index: 10;
		.dot {
			fill: $success-color;
		}
		text {
			font-family: 'FontAwesome';
			font-size: 1.5em;
		}
	}
}

.tick {
	display: none;
}
