<div ng-controller="KeyboardCtrl">
<div class="small-12 large-8 large-offset-2 columns" ng-controller="PlayerCtrl" ng-init="init()" confirm-on-exit>
	<div class="player-container">
		<div class="player-content">
			<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
				<div class="progress-meter" ng-style="{width:((level*100)/levels)+'%'}"></div>
			</div>
			<div class="player-prompt" ng-class="{lower : state=='referenceNote'}">
				<h4>{{viewData.title}}</h4>
				<h6><a ng-href="{{viewData.subtitleLink}}">{{viewData.subtitle}}</a></h6>
			</div>
			<div class="orb-container">
				<div class="orb {{action}} {{errorClass}} {{orbClasses}}" ng-if="state=='mysteryNote'" ng-class="{'playing': mysteryNotePlaying}" ng-click="playMysteryNote()" space-key="ng-click" hover-class>
					<i class="orb-icon fa fa-play fa-2x" aria-hidden="true"></i>
					<i class="orb-icon fa fa-check fa-2x" aria-hidden="true"></i>
					<i class="orb-icon fa fa-times fa-2x" aria-hidden="true"></i>
					<div class="orb-outer animated infinite pulse-1 _2000ms ease-in-out">
						<div class="orb-inner animated infinite pulse-4 _1500ms ease-in-out">
						</div>
					</div>

				</div>
			</div>
			<div class="piano-container">
				<div id=piano></div>
			</div>
			<div id=loading>*** MIDI.js is loading soundfont... ***</div>
		</div>
		<div class="player-footer">
			<div ng-if="!gameover">
				<button class="primary button large round fixed middle success" ng-if="state=='referenceNote'" ng-click="setState('mysteryNote')" enter-key="ng-click">next</button>
				<button class="secondary hollow button large round" ng-if="state=='mysteryNote'" ng-class="{'disabled': action == 'success'}" ng-click="skip()">skip</button>
				<button class="button large round float-right success" ng-class="{'disabled': action != 'success'}" ng-if="state=='mysteryNote'" enter-key="ng-click" ng-click="continue()">continue</button>
			</div>
			<a id="see-results" href="#/results" class="button large round fixed middle" ng-if="gameover" enter-key>see results</a>
			<!-- <div keypress-events>typed: {{key}}</div> -->
		</div>
	</div>

	<script src="vendor/JZZ-modules-master/javascript/JZZ.js"></script>
	<script src="vendor/JZZ-modules-master/javascript/MIDI.js"></script>
	<script src="vendor/JZZ-modules-master/javascript/JZZ.synth.MIDIjs.js"></script>
	<script src="vendor/JZZ-modules-master/javascript/JZZ.synth.OSC.js"></script>
	<script src="vendor/JZZ-modules-master/javascript/JZZ.input.Kbd.js"></script>
	<script src="vendor/JZZ-modules-master/javascript/JZZ.input.ASCII.js"></script>
</div>
</div>
